extends layout

block content
  h1= title
  hr
  h2 Add New Notice
  form#noticeForm(action="/notices/add", method="POST", autocomplete="off")
    input(type="hidden", name="_csrf", value=csrfToken)
    div
      label Name:
      input(type="text", name="name", required)
    div
      label Message:
      textarea(name="message", style="width: 100%; height: 100px;", required)
    button(type="submit") Create Notice

  script(src="/javascripts/notices.js")

  hr
  h2 Notice List
  if notices.length === 0
    p No notices found.
  each notice in notices
    p #[strong Name:] #{notice.name}
    p #[strong Date Posted:] #{notice.created_at}
    p #[strong Message:] #{notice.message}
    hr