extends layout

block content
  h1= title
  hr
  h2 Add New Shopping List Item
  form#shoppingForm(action="/shopping-list/add", method="POST", autocomplete="off")
    input(type="hidden", name="_csrf", value=csrfToken)
    div
      label Item:
      input(type="text", name="item", required)
    div
      label Quantity:
      input(type="number", name="quantity", required, min="1")
    div
      label Store:
      input(type="text", name="store", required)
    button(type="submit") Create Shopping List Item

  hr
  h2 Shopping List
  if shoppingList.length === 0
    p No items in the shopping list.
  each item in shoppingList
    form(action="/shopping-list/check", method="POST", id=`form-${item.id}`)
      input(type="hidden", name="_csrf", value=csrfToken)
      input(type="hidden", name="id", value=item.id)
      table 
        tr 
          td(style="width: 10px")
            input(
              type='checkbox', 
              checked=(item.checked == 1), 
              name="checked",
              value=(item.checked == 0),
              onchange="this.form.submit()" 
            )
          td 
            p #[strong Item:] #{item.item}
    p #[strong Quantity:] #{item.quantity}
    p #[strong Store:] #{item.store}
    p #[strong Date Posted:] #{item.created_at}
    form.delete-form(action="/shopping-list/delete", method="POST")
      input(type="hidden", name="_csrf", value=csrfToken)
      button(type="submit", name="id", value=item.id) Delete
    hr

  script(src="/javascripts/shopping-list.js")
