extends layout

block content
  h1= title
  hr
  h2 Add New Shopping List Item
  form#shoppingForm(action="/shopping-list/add", method="POST", autocomplete="off")
    input(type="hidden", name="_csrf", value=csrfToken)
    div
      label Item:
      input(type="text", name="item", required)
    div
      label Quantity:
      input(type="number", name="quantity", required, min="1")
    div
      label Store:
      input(type="text", name="store", required)
    button(type="submit") Create Shopping List Item

  hr
  h2 Shopping List
  if shoppingList.length === 0
    p.empty-message No items in the shopping list.
  else
    ul.shopping-items
      each item in shoppingList
        li.shopping-item(class=item.checked === 1 ? 'checked' : '')
          .item-header
            input.item-checkbox(
              type='checkbox',
              checked=(item.checked === 1),
              data-id=item.id,
              data-csrf=csrfToken
            )
            h3.item-name= item.item
          .item-details
            p #[strong Quantity:] #{item.quantity}
            p #[strong Store:] #{item.store}
            p.item-date #[strong Date:] #{item.created_at}
          form.delete-form(action="/shopping-list/delete", method="POST")
            input(type="hidden", name="_csrf", value=csrfToken)
            button.delete-btn(type="submit", name="id", value=item.id) Delete

  script(src="/javascripts/shopping-list.js")
